
<div class="container mt-5">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                              
                  <div class="d-flex flex-column align-items-center text-center">
                      <label for="upload_avatar">
                        <div class="profilepic">
                          <img class="profilepic__image" id="avatar" src="{{user_profile.picture}}" style="object-fit: cover;" width="150" height="150" alt="avatar" />
                          <div class="profilepic__content">
                            <span class="profilepic__icon"><i class="fas fa-camera"></i></span>
                            <span class="profilepic__text">Đổi avatar</span>
                          </div>
                        </div>
                      </label>
                    <div class="mt-3">
                      <h4>{{user_profile.name}}</h4>
                    </div>
                    <input type="file" id="upload_avatar" accept="image/*" style="display:none; width:0; height:0">
                  </div>

                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user_profile.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user_profile.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Ngày tham gia</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user_profile.createdAt}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Role</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user_profile.admin}}
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
			  	<div class="modal-dialog modal-lg" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
			        		<h5 class="modal-title" id="modalLabel">Điều chỉnh ảnh</h5>
			        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      		</div>
			      		<div class="modal-body">
			        		<div class="img-container">
			            		<div class="row">
			                		<div class="col-md-8">
			                    		<img class="crop__frame" src="" id="sample_image" />
			                		</div>
			                		<div class="col-md-4">
			                    		<div class="avatar__preview user-avatar"></div>
			                		</div>
			            		</div>
			        		</div>
			      		</div>
			      		<div class="modal-footer">
			        		<button type="button" class="btn btn-primary" id="crop">Cập nhật ảnh mới</button>
			        		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
							<button type="button" class="btn btn-danger" id="default_ava">Đổi qua ảnh google</button>
			      		</div>
			    	</div>
			  	</div>
			</div>			
		</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js" integrity="sha512-IlZV3863HqEgMeFLVllRjbNOoh8uVj0kgx0aYxgt4rdBABTZCl/h5MfshHD9BrnVs6Rs9yNN7kUQpzhcLkNmHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(document).ready(function(){
	
	var $modal = $('#modal');
	var image = document.getElementById('sample_image');
	var cropper;
	$('#default_ava').click(function(event) {
		$.ajax({
				url: "/profile/update-avatar",
				method: "PATCH",                	
				data: {image: '{{{user.gg_img}}}'},
				success: () => {
					$modal.modal('hide');
					Swal.fire(
						'Cập nhật thành công !',
						'Kiểm tra thử đúng ảnh của tài khoản google không nhá !'
					).then(()=>{
						window.location.reload();
					})
					//alert("success upload image");
				}
			});
	});
	$('#upload_avatar').change(function(event){
		var files = event.target.files;
		
    	var done = function (url) {
      		image.src = url;
      		$modal.modal('show');
    	}

    	if (files && files.length > 0)
    	{
        		reader = new FileReader();
		        reader.onload = function (event) {
		          	done(reader.result);
		        };
        		reader.readAsDataURL(files[0]);
    	}
	});

	$modal.on('shown.bs.modal', function() {
    	cropper = new Cropper(image, {
    		aspectRatio: 1,
    		viewMode: 2,
    		preview: '.avatar__preview',
			minContainerWidth: 500,
			minContainerHeight: 500,
    	});
	}).on('hidden.bs.modal', function() {
		cropper.destroy();
   		cropper = null;
		$('#upload_avatar').val('');
	});

	$("#crop").click(function(){
    	canvas = cropper.getCroppedCanvas({
      		width: 400,
      		height: 400,
    	});
		
    	canvas.toBlob(function(blob) {
			var form = new FormData();
			form.append("image", blob)
			$.ajax({
				url: "https://api.imgbb.com/1/upload?key=a081a60cce40b0cf4c6de14eff16eef8",
				method: "POST",
				timeout: 0,
				processData: false,
				mimeType: "multipart/form-data",
				contentType: false,
				data: form,
				success: function(response){
					$.ajax({
						url: "/profile/update-avatar",
						method: "PATCH",                	
						data: {image: JSON.parse(response).data.display_url},
						success: () => {
							$modal.modal('hide');
							Swal.fire(
								'Cập nhật thành công !',
								'Kiểm tra thử nha',
								'success'
							).then(()=>{
								window.location.reload();
							})
							//alert("success upload image");
						}
              		});
				}
			})
			});
		});
	});

    </script>