<div class="row create-post-area p-0 m-0">
    <div class = "d-block ps-5 pe-5 mb-3 mt-3 bg-gray">
        <h3 class="mb-3 mt-3">
           Chỉnh Sửa Khóa Học
        </h3>
    </div>
    <form class="post-submit-form d-block ps-5 pe-5" method="POST" action="/learning/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" name="course_name" value="{{course.name}}" aria-describedby="title-help" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả khóa học</label> <span class="des-max">(tối đa 300 ký tự)</span>
            <textarea type="text" class="form-control" name="course_description" aria-describedby="description-help" required rows=3 maxlength="300">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="image_url" class="form-label">Ảnh bìa bài viết</label> <span class="des-max">(không bắt buộc, nên chọn hình có tỉ lệ 16:9)</span>
            <input type="url" class="form-control" name="course_image" value="{{course.image}}" aria-describedby="image_url-help">
            <div id="image_url-help" class="form-text">Ảnh bìa sẽ được hiển thị cùng khóa học</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mức độ</label>
            <input type="text" class="form-control" name="course_level" value="{{course.level}}" aria-describedby="title-help" required>
        </div>
        <input type="hidden" name="state" value="0">
        <button type="submit" class="btn btn-primary">Chỉnh Sửa</button>
    </form>
</div>



<script>
$(document).ready(function(){
        $(document.body).css('padding-top', $('#fixed-nav').height() + 10);
        $(window).resize(function(){
            $(document.body).css('padding-top', $('#fixed-nav').height() + 10);
        });
    });
</script>