
    <!-- ##### Breaking News Area Start ##### -->
    <section class="breaking-news-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Breaking News Widget -->
                <div class="breaking-news-ticker d-flex flex-wrap align-items-center">
                    <div class="title pe-auto ps-auto">
                        <h6>Bài viết mới</h6>
                    </div>
                    <div id="breakingNewsTicker" class="ticker">
                        <ul>
                            {{#each breaking_post}}
                            <li>
                                <a href="/post/{{this.slug}}">
                                    {{this.title}}
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- ##### Breaking News Area End ##### -->
    <!-- ##### Intro News Area Start ##### -->
    <script>
        var postTime = [];
    </script>
    <section class="intro-news-area section-padding-50-0 mb-70">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Intro News Tabs Area -->
                <div class="col-12 col-lg-8">
                    <div class="intro-news-tab">

                        <!-- Intro News Filter -->
                        <div class="intro-news-filter d-flex justify-content-between animated fadeInUpBig">
                            <h6>Tất cả bài viết</h6>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav1" data-bs-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Hot</a>
                                    <a class="nav-item nav-link" id="nav2" data-bs-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">Phổ biến</a>
                                    <a class="nav-item nav-link" id="nav3" data-bs-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">Tuyển sinh</a>
                                    <a class="nav-item nav-link" id="nav4" data-bs-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="false">Quan tâm</a>
                                    <a class="nav-item nav-link" id="nav5" data-bs-toggle="tab" href="#nav-5" role="tab" aria-controls="nav-5" aria-selected="false">Mới nhất</a>
                                </div>
                            </nav>
                        </div>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                                <div class="row">
                                    <!-- Single News Area -->
                                    <div class="col-12">
                                        <div class="single-blog-post animated fadeInUpBig style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="/post/{{hot.0.slug}}"><img width='1200' height='626' src="{{hot.0.image_url}}" alt=""></a>
                                            </div>

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date"></span>
                                                <a href="/post/{{hot.0.slug}}" class="post-title">{{hot.0.title}}</a>
                                                <a href="/post/{{hot.0.slug}}" class="post-author mb-30">Tác giả: {{hot.0.author.name}}</a>
                                                <p>{{hot.0.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        postTime.push("{{hot.0.createdAt}}");
                                    </script>
                                    {{#each hot}}
                                    <!-- Single News Area -->
                                    {{#unless @first}}
                                    <script>
                                        postTime.push("{{this.createdAt}}");
                                    </script>
                                    <div class="col-12 col-sm-6">
                                        <div class="single-blog-post animated fadeInUpBig style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="/post/{{this.slug}}"><img width='600' height='410' src="{{this.image_url}}" alt=""></a>
                                            </div>

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date"></span>
                                                <a href="/post/{{this.slug}}" class="post-title">{{this.title}}</a>
                                                <a href="/post/{{this.slug}}" class="post-author">Tác giả: {{this.author.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {{/unless}}
                                    {{/each}}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav2">
                                <div class="row">
                                    <!-- Single News Area -->
                                    <div class="col-12">
                                        <div class="single-blog-post animated fadeInUpBig style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="#"><img src="{{phobien.0.image_url}}" alt=""></a>
                                            </div>

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date"></span>
                                                <a href="{{phobien.0.slug}}" class="post-title">{{phobien.0.title}}</a>
                                                <a href="{{phobien.0.slug}}" class="post-author mb-30">Tác giả: {{phobien.0.author.name}}</a>
                                                <p>{{phobien.0.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        postTime.push("{{phobien.0.createdAt}}");
                                    </script>
                                    {{#each phobien}}
                                    <!-- Single News Area -->
                                    {{#unless @first}}
                                    <script>
                                        postTime.push("{{this.createdAt}}");
                                    </script>
                                    <div class="col-12 col-sm-6">
                                        <div class="single-blog-post animated fadeInUpBig style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="#"><img src="{{this.image_url}}" alt=""></a>
                                            </div>

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date">{{this.createdAt}}</span>
                                                <a href="/post/{{this.slug}}" class="post-title">{{this.title}}</a>
                                                <a href="/post/{{this.slug}}" class="post-author">Tác giả: {{this.author.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {{/unless}}
                                    {{/each}}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav3">
                                <div class="row">
                                    <!-- Single News Area -->
                                    <div class="col-12">
                                        <div class="single-blog-post animated fadeInUpBig style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="#"><img src="{{tuyensinh.0.image_url}}" alt=""></a>
                                            </div>

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date">{{tuyensinh.0.createdAt}}</span>
                                                <a href="{{tuyensinh.0.slug}}" class="post-title">{{tuyensinh.0.title}}</a>
                                                <a href="{{tuyensinh.0.slug}}" class="post-author mb-30">Tác giả: {{tuyensinh.0.author.name}}</a>
                                                <p>{{tuyensinh.0.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        postTime.push("{{tuyensinh.0.createdAt}}");
                                    </script>
                                    {{#each tuyensinh}}
                                    <!-- Single News Area -->
                                    {{#unless @first}}
                                    <script>
                                        postTime.push("{{this.createdAt}}");
                                    </script>
                                    <div class="col-12 col-sm-6">
                                        <div class="single-blog-post animated fadeInUpBig style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="#"><img src="{{this.image_url}}" alt=""></a>
                                            </div>

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date">{{this.createdAt}}</span>
                                                <a href="/post/{{this.slug}}" class="post-title">{{this.title}}</a>
                                                <a href="/post/{{this.slug}}" class="post-author">Tác giả: {{this.author.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {{/unless}}
                                    {{/each}}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav4">
                                <div class="row">
                                    <!-- Single News Area -->
                                    <div class="col-12">
                                        <div class="single-blog-post animated fadeInUpBig style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="#"><img src="{{quantam.0.image_url}}" alt=""></a>
                                            </div>

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date">{{quantam.0.createdAt}}</span>
                                                <a href="{{quantam.0.slug}}" class="post-title">{{quantam.0.title}}</a>
                                                <a href="{{quantam.0.slug}}" class="post-author mb-30">Tác giả: {{quantam.0.author.name}}</a>
                                                <p>{{quantam.0.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        postTime.push("{{quantam.0.createdAt}}");
                                    </script>
                                    {{#each quantam}}
                                    <!-- Single News Area -->
                                    {{#unless @first}}
                                    <script>
                                        postTime.push("{{this.createdAt}}");
                                    </script>
                                    <div class="col-12 col-sm-6">
                                        <div class="single-blog-post animated fadeInUpBig style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="#"><img src="{{this.image_url}}" alt=""></a>
                                            </div>

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date">{{this.createdAt}}</span>
                                                <a href="/post/{{this.slug}}" class="post-title">{{this.title}}</a>
                                                <a href="/post/{{this.slug}}" class="post-author">Tác giả: {{this.author.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {{/unless}}
                                    {{/each}}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav5">
                                <div class="row">
                                    <!-- Single News Area -->
                                    <div class="col-12">
                                        <div class="single-blog-post animated fadeInUpBig style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="#"><img src="{{moinhat.0.image_url}}" alt=""></a>
                                            </div>

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date"></span>
                                                <a href="{{moinhat.0.slug}}" class="post-title">{{moinhat.0.title}}</a>
                                                <a href="{{moinhat.0.slug}}" class="post-author mb-30">Tác giả: {{moinhat.0.author.name}}</a>
                                                <p>{{moinhat.0.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        postTime.push("{{moinhat.0.createdAt}}");
                                    </script>
                                    {{#each moinhat}}
                                    <!-- Single News Area -->
                                    {{#unless @first}}
                                    <script>
                                        postTime.push("{{this.createdAt}}");
                                    </script>
                                    <div class="col-12 col-sm-6">
                                        <div class="single-blog-post animated fadeInUpBig style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="#"><img src="{{this.image_url}}" alt=""></a>
                                            </div>

                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date"></span>
                                                <a href="/post/{{this.slug}}" class="post-title">{{this.title}}</a>
                                                <a href="/post/{{this.slug}}" class="post-author">{{this.author.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    {{/unless}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                    <div class="sidebar-area">

                        <!-- Newsletter Widget -->
                        <div class="single-widget-area add-widget mb-30">
                            <a><img class="pb-3" src="/img/ads/ad_d_2.png" alt=""></a>
                        </div>

                        <!-- Add Widget -->
                        <div class="single-widget-area add-widget mb-30">
                            <a href="#">
                                <img src="/img/ads/ad_d_2.png" alt="">
                            </a>
                        </div>

                        <!-- Latest News Widget -->
                        <div class="single-widget-area news-widget mb-30">
                            <h4>Latest News</h4>
                            {{#each latestNews}}
                            <!-- Single News Area -->
                            <div class="single-blog-post animated fadeInUpBig d-flex style-4 mb-30">
                                <!-- Blog Thumbnail -->
                                <div class="blog-thumbnail">
                                    <a href="/post/{{this.slug}}"><img src="{{this.image_url}}" alt=""></a>
                                </div>

                                <!-- Blog Content -->
                                <div class="blog-content">
                                    <span class="post-date"></span>
                                    <a href="/post/{{this.slug}}" class="post-title">{{this.title}}</a>
                                </div>
                            </div>
                            <script>
                                postTime.push("{{this.createdAt}}");
                            </script>
                            {{/each}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Intro News Area End ##### -->

    <!-- ##### Add Area Start ##### -->
    <div class="big-add-area">
        <div class="container-fluid">
            <a href="#"><img src="/img/ads/ad_d_1.png" alt=""></a>
        </div>
    </div>
    <!-- ##### Add Area End ##### -->

    <!-- ##### News Area Start ##### -->
    <div class="news-area section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <div id="post"></div>
                    <div class="mt-3 mb-5 d-flex justify-content-center">
                        <div class="loader hide"></div>
                    </div>
                    <div class="mt-3 mb-5 d-flex justify-content-end">
                        <button class="newsbox-btn btn-2 animated fadeIn" id="loadmore" type="button" onclick="getData();">Xem thêm</button>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    
                    <!-- Single News Area -->
                    <div class="single-blog-post style-6 mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="#"><img src="https://img.youtube.com/vi/{{videos.video1}}/sddefault.jpg" alt=""></a>
                            <a href="https://www.youtube.com/watch?v={{videos.video1}}" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>

                        <!-- Blog Content -->
                        <!--<div class="blog-content">
                            <span class="post-date"></span>
                            <p class="post-title"></p>
                        </div>-->
                    </div>
                    <!-- Single News Area -->
                    <div class="single-blog-post style-6 mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="#"><img src="https://img.youtube.com/vi/{{videos.video2}}/sddefault.jpg" alt=""></a>
                            <a href="https://www.youtube.com/watch?v={{videos.video2}}" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>

                        <!-- Blog Content -->
                        <!--<div class="blog-content">
                            <span class="post-date"></span>
                            <p class="post-title"></p>
                        </div>-->
                    </div>
                    <!-- Single News Area -->
                    <div class="single-blog-post style-6 mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="#"><img src="https://img.youtube.com/vi/{{videos.video3}}/sddefault.jpg" alt=""></a>
                            <a href="https://www.youtube.com/watch?v={{videos.video3}}" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>

                        <!-- Blog Content -->
                        <!--<div class="blog-content">
                            <span class="post-date"></span>
                            <p class="post-title"></p>
                        </div>-->
                    </div>
                    {{#if authenticated}}
                    {{#unless (equal user.admin 0)}}
                    <div class="single-blog-post style-6 mb-30">
                        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#videoModal" data-bs-whatever="@mdo" >Điều chỉnh video</button>
                    </div>
                    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Take Videos From Youtube</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="videoForm">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">ID Video 1:</label>
                                        <input type="text" value="{{videos.video1}}" class="form-control" name="video1">
                                    </div>
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">ID Video 2:</label>
                                        <input type="text" value="{{videos.video2}}" class="form-control" name="video2">
                                    </div>
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">ID Video 3:</label>
                                        <input type="text" value="{{videos.video3}}" class="form-control" name="video3">
                                    </div>
                                    
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" form="videoForm" class="btn btn-primary">Save</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#videoForm').on('submit', function (e) {
                            e.preventDefault();
                            var dataVid = $(this).serializeArray();
                            console.log(dataVid);
                            $.ajax({
                                type: 'POST',
                                url: '/dashboard/submit_video',
                                data: dataVid,
                                success: () => {
                                    
                                    Swal.fire(
                                        'Updated !',
                                        'Video của bạn được cập nhật',
                                        'success',
                                    ).then(() => {
                                        window.location.reload();
                                    });
                                },
                            });
                        });
                    </script>
                    {{/unless}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <!-- ##### News Area End ##### -->

<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/plugins/plugins.js"></script>
<script src="/js/active.js"></script>
<script>
    $(document).ready(function(){
        $(document.body).css('padding-top', $('#fixed-nav').height() + 10);
        $(window).resize(function(){
            $(document.body).css('padding-top', $('#fixed-nav').height() + 10);
        });
    });
</script>
<script>
    for (element in postTime){
        displayTime("post-date", postTime);
    }
</script>
<script>
    var startFrom = 0;
    var limit = 3;
    const options = {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
        hour12: false,
        hour: '2-digit', 
        minute: '2-digit',
    };
    function getData() {
        $('.loader').show();
        $('#loadmore').addClass('fadeOut');
        $.ajax({
                url: "/post/all/loadmore",
				method: "POST",  
                data: {startFrom},
                success: (response) => (handleData(response)),
                    
                    
                }
        )
    }

    function handleData(data)
    {
        startFrom += limit;
        if (!data.length)
            $('#loadmore').hide(); 
        else {
            var html = "";
            for (var a = 0; a < data.length; a++) {
                html += `<div class="single-blog-post animated fadeInUpBig d-flex flex-wrap style-5 mb-30">
                    <div class="blog-thumbnail">
                        <a href="/post/${data[a].slug}"><img height="200px" src="${data[a].image_url}" alt=""></a>
                    </div>

                    <div class="blog-content">
                        <span class="post-date">${new Date(data[a].createdAt).toLocaleDateString('vi-Vi', options)}</span>
                        <a href="/post/${data[a].slug}" class="post-title">${data[a].title}</a>
                        <a href="/post/${data[a].slug}" class="post-author">Tác giả: ${data[a].author.name}</a>
                        <p>${data[a].description}</p>
                    </div>
                </div>`
            }
            document.getElementById("post").innerHTML += html;
            setTimeout(function(){
                $('#post .single-blog-post').removeClass('animated fadeInUpBig')
                $('#loadmore').removeClass('fadeOut');
            },1000)
        }
        $('.loader').hide();
    } 
    
$(document).ready(function(){
    getData();
});
</script>