<!-- ##### Breaking News Area Start ##### -->
{{!-- <section class="breaking-news-area clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Breaking News Widget -->
                <div class="breaking-news-ticker d-flex flex-wrap align-items-center">
                    <div class="title">
                        <h6>Trending</h6>
                    </div>
                    <div id="breakingNewsTicker" class="ticker">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
                                    lorem maximus mauris scelerisque, at rutrum nulla dictum.</a></li>
                            <li><a href="#">Welcome to Colorlib Family.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
                                    lorem maximus mauris scelerisque</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}
<!-- ##### Breaking News Area End ##### -->

<!-- ##### Post Details Title Area Start ##### -->
{{#if (equal post.image_url '')}}
    <div class="post-details-title-area bg-overlay clearfix" style="background-image: url(/img/default/thumbnail.png)">
{{else}}
    <div class="post-details-title-area bg-overlay clearfix" style="background-image: url({{post.image_url}})">
{{/if}}

    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-8">
                <!-- Post Content -->
                <div class="post-content">
                    <p class="tag"><span>Bài viết</span></p>
                    <p class="post-title">{{post.title}}</p>
                    <div class="d-flex align-items-center">
                        <span class="post-date mr-30">{{post.createdAt}}</span>
                        <span class="post-date">Được đăng bởi {{post.author.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- ##### Post Details Title Area End ##### -->

<!-- ##### Post Details Area Start ##### -->
<section class="post-news-area section-padding-100-0 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8">
                <div id="editorjs" class="post-details-content mb-100"></div>
                 <!-- Comment Area Start -->
                <div class="clearfix mb-100">
                    <h4 class="mb-50">Comments</h4>

                    <!-- FACEBOOK Plugin comment -->
                    <div id="fb-root d-flex"></div>
                    <script async defer crossorigin="anonymous"
                        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=429832765548741&autoLogAppEvents=1"
                        nonce="nnUvxyJ6"></script>
                    <div class="fb-comments d-flex" data-href="https://bkfc-taythanh.herokuapp.com/post/{{post.slug}}" data-width="500" data-numposts="5"></div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="sidebar-area">

                    <!-- Newsletter Widget -->
                    <div class="single-widget-area newsletter-widget mb-30">
                        <h4>Subscribe to our newsletter</h4>
                        <form action="#" method="post">
                            <input type="email" name="nl-email" id="nlemail" placeholder="Your E-mail">
                            <button type="submit" class="btn newsbox-btn w-100">Subscribe</button>
                        </form>
                        <p class="mt-30">Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum.
                            Etiam pretium turpis eget nibh . volutpat lobortis.</p>
                    </div>

                    <!-- Add Widget -->
                    <div class="single-widget-area add-widget mb-30">
                        <a href="#">
                            <img src="/img/bg-img/add3.png" alt="">
                        </a>
                    </div>

                    <!-- Latest News Widget -->
                    <div class="single-widget-area news-widget mb-30">
                        <h4>Latest News</h4>

                        <!-- Single News Area -->
                        <div class="single-blog-post d-flex style-4 mb-30">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="/img/bg-img/16.jpg" alt=""></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <a href="#" class="post-title">Nearly a quarter have no emergency savings</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post d-flex style-4 mb-30">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="/img/bg-img/17.jpg" alt=""></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <a href="#" class="post-title">Nearly a quarter have no emergency savings</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post d-flex style-4 mb-30">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="/img/bg-img/18.jpg" alt=""></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <a href="#" class="post-title">Top bitcoin exchange says over $30 million stolen</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post d-flex style-4 mb-30">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="/img/bg-img/19.jpg" alt=""></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <a href="#" class="post-title">Top bitcoin exchange says over $30 million stolen</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post d-flex style-4 mb-30">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="public/img/bg-img/20.jpg" alt=""></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <a href="#" class="post-title">Dow falls 287 points as trade war fears escalate</a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area">

                        <!-- Single News Area -->
                        <div class="single-blog-post style-2 mb-5">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="/img/bg-img/14.jpg" alt=""></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <a href="#" class="post-title">Elon Musk: Tesla worker admitted to sabotage</a>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-2 mb-5">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="/img/bg-img/15.jpg" alt=""></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <a href="#" class="post-title">Rachel Sm ith breaks down while discussing border
                                    crisis</a>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Post Details Area End ##### -->


<!-- ##### All Javascript Script ##### -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest/dist/editor.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
{{!--
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter --> --}}
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
{{!--
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist --> --}}
{{!--
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote --> --}}
{{!--
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code --> --}}
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
{{!--
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table --> --}}
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
{{!--
<script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning --> --}}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
{{!--
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code --> --}}

<script>
    const editor = new EditorJS({
        autofocus: true,
        holder: 'editorjs',
        readOnly: true,
        tools: {
            // HEADER TOOL
            header: {
                class: Header,
                inlineToolbar: true,
                config: {
                    placeholder: 'Header',
                    defaultLevel: 5
                }
            },
            // IMAGE TOOL
            image: SimpleImage,
            image: {
                class: SimpleImage,
                inlineToolbar: true,
            },
            // LIST TOOL
            list: {
                class: List,
                inlineToolbar: true,
            }
        }
    });
    editor.isReady
        .then(() => {
            console.log('Editor.js is ready to work!')
            editor.render({{{ json post.content }}})
           })
           .catch ((reason) => {
        console.log(`Editor.js initialization failed because of ${reason}`)
    });
</script>
