<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
{{#if message}}
<div class="alert alert-{{message.type}} alert-dismissible fade show" role="alert">
  {{message.message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<div class="container-table100">
  <div class="table100-title line-break">Quản lí người dùng</div>
  <div class="wrap-table100">
    <div class="table100 ver1 m-b-110">
      <div class="table100-head">
          <table id="my-table">
            <thead>
              <tr>
                <th class="cell100 column1">Tên người dùng</th>
                <th class="cell100 column2" >Vai trò</th>
                <th class="cell100 column3">Ngày tham gia</th>
                <th class="cell100 column4">Tùy chỉnh</th>
              </tr>
            </thead>  
        </table>
      </div>
      <div class="table100-body">
        <table>
              <tbody id="user-list">
                  {{#each users}}
                <tr id="{{this._id}}" data-id="{{this._id}}" class="row100 body animated fadeInUpBig"> 
                  <td class="cell100 column1">
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{{this.picture}}" class="avatar  me-3 border border-primary border-2 rounded-circle" alt="{{this.name}}">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{this.name}} {{#if (equal this._id @root.user._id)}} <span class="text-secondary">(bạn)</span>{{/if}}</h6>
                        <p class="text-xs text-secondary mb-0">{{this.email}}</p>
                      </div>
                    </div>
                  </td>
                  <td class="cell100 column2 edit-role form-group">
                    <p class="text-secondary text-xs font-weight-bold">{{this.admin}}</p>
                  </td>
                  <td class="cell100 column3">
                    <span class="text-secondary text-xs font-weight-bold">{{this.createdAt}}</span>
                  </td>
                  <td class="cell100 column4">
                    {{#if this.default_user}}
                    
                    <p class="text-secondary text-xs font-weight-bold"> <span class="p-1"><i class="fa fa-star" style="color:rgba(235, 177, 19, 0.856);" aria-hidden="true"></i></span>Super Idol</p>
                    {{else}}
                    <button class="btn btn-edit btn-dark edit">
                      Edit
                    </button>
                    <button class="btn btn-save btn-danger d-none">
                      Save
                    </button>
                    <button class="btn btn-cancle btn-primary d-none">
                      Cancle
                    </button>
                    {{/if}}
                  </td>
                </tr>
                {{/each}}

              </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ul class="pagination table-responsive__pagination"></ul>
<script src="/js/pagination.js"></script>
<script>
  var totalPages = {{totalPages}};
  var page = 1;
  var userId = {{user._id}};
  $(document).ready(function () {
    createPagination(totalPages, page); 
  });
  $('ul.pagination').on('click', 'li.pagination-item', function(e) {
    page = $(this).data('pag');
    crawlUsers(totalPages, page);
  })
  function crawlUsers(totalPages, page)
  {
      createPagination(totalPages, page);
      $.ajax({
        url: "/dashboard/users/load-more-users",
        method: "POST",  
        data: {page: page-1},
        success: (response) => (handleData(response)),
      });
    function handleData(data) {
      var html = "";
      for (var a = 0; a < data.length; a++) {
          html += ` <tr id="${data[a]._id}" data-id="${data[a]._id}" class="row100 body animated fadeInUpBig"> 
                  <td class="cell100 column1">
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="${data[a].picture}" class="avatar me-3 border border-primary border-2 rounded-circle" alt="${data[a].name}">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">${data[a].name} ` 
          if (data[a]._id == userId)
            html+= ` <span class="text-secondary">(bạn)</span>`
          html += `</h6>
                  <p class="text-xs text-secondary mb-0">${data[a].email}</p>
                      </div>
                    </div>
                  </td>
                  <td class="cell100 column2 edit-role form-group">
                    <p class="text-secondary text-xs font-weight-bold">${data[a].admin}</p>
                  </td>
                  <td class="cell100 column3">
                    <span class="text-secondary text-xs font-weight-bold">${data[a].createdAt}</span>
                  </td>
                  <td class="cell100 column4">`
          if (data[a].default_user) {
            html += `<p class="text-secondary text-xs font-weight-bold"> <span class="p-1"><i class="fa fa-star" style="color:rgba(235, 177, 19, 0.856);" aria-hidden="true"></i></span>Super Idol</p>`;
          } 
          else {
            html +=`<button class="btn btn-edit btn-dark edit">
                      Edit
                    </button>
                    <button class="btn btn-save btn-danger d-none">
                      Save
                    </button>
                    <button class="btn btn-cancle btn-primary d-none">
                      Cancle
                    </button>`;
          };
          html += `</td>
                  </tr>`;
      }
      $("#user-list").html(html);
      
    }
  } 
</script>
<form class="mt-4" name="save-form" method="POST"></form>
<script>
$(document).ready(function(){
        $(document.body).css('padding-top', $('#fixed-nav').height() + 10);
        $(window).resize(function(){
            $(document.body).css('padding-top', $('#fixed-nav').height() + 10);
        });
    });
</script>
<script>
  
  $(document).ready(function() {
    $("body").on("click",".btn.btn-edit", function(event) {
      let rowId = event.target.parentNode.parentNode.id;
      document.getElementById(rowId).querySelector('.btn.btn-edit').classList.add('d-none');
      document.getElementById(rowId).querySelector('.btn.btn-save').classList.remove('d-none');
      document.getElementById(rowId).querySelector('.btn.btn-cancle').classList.remove('d-none');

      var target_cell = document.getElementById(rowId).querySelector('.edit-role');
      var role_now = target_cell.innerText;
      var att = document.createAttribute("current-value");
      att.value = role_now;
      target_cell.setAttributeNode(att)
      var ref = ['User', 'Content Creator', 'Knownledge Provider', 'Moderator'];
      var roles = [...ref];
      
      roles.splice(roles.indexOf(role_now), 1)
      roles = [role_now,...roles];
      
      var opts = roles.map(function(role){
        return `<option class="text-center" value="${ref.indexOf(role)}">${role}</option>`
      })
      
      var list2 = '<select id="user-tab">';
      for (var i = 0; i < opts.length; i++)
      {
        list2+=opts[i];
      }
      list2+="</select";
      target_cell.innerHTML = list2;
    })
  })
  $(document).ready(function() {
    $("body").on("click", ".btn.btn-cancle", function(event) {
      let rowId = event.target.parentNode.parentNode.id;
      document.getElementById(rowId).querySelector('.btn.btn-edit').classList.remove('d-none');
      document.getElementById(rowId).querySelector('.btn.btn-save').classList.add('d-none');
      document.getElementById(rowId).querySelector('.btn.btn-cancle').classList.add('d-none');
      var target_cell = document.getElementById(rowId).querySelector('.edit-role');
      currentValue = target_cell.getAttribute("current-value");
      target_cell.removeAttribute("current-value");
      target_cell.innerHTML = `<p class="text-secondary text-xs font-weight-bold">${currentValue}</p>`;
    })
    
  })
  
  $(document).ready(function() {
    $("body").on("click", ".btn.btn-save", function(event) {
      let rowId = event.target.parentNode.parentNode.id;
      document.getElementById(rowId).querySelector('.btn.btn-edit').classList.remove('d-none');
      document.getElementById(rowId).querySelector('.btn.btn-save').classList.add('d-none');
      document.getElementById(rowId).querySelector('.btn.btn-cancle').classList.add('d-none');
      var target_cell = document.getElementById(rowId).querySelector('.edit-role');
      var currentValue = $('#user-tab :selected').text();
      var idValue = $('#user-tab :selected').val();
      target_cell.removeAttribute("current-value");
      target_cell.innerHTML = `<p class="text-secondary text-xs font-weight-bold">${currentValue}</p>`;
      
      
      var userId = jQuery('#'+rowId).data('id');
      var saveForm = document.forms['save-form'];
      saveForm.action = '/dashboard/users/' + userId + '?_method=PATCH';
      $(saveForm).append(`<input type="hidden" name="admin" value="${idValue}" /> `);
      saveForm.submit();


      
    })
    
  })


</script>

      
